<p-dataView #dv [value]="getShowProjects()" [paginator]="true" [rows]="12" filterBy="name"
            [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">

  <ng-template pTemplate="header">
    <div class="d-flex justify-content-between align-items-end">
      <label *ngIf="projects.length == getShowProjects().length" style="" class="text-xs">Всего {{projects.length}}
        проектов </label>
      <label *ngIf="projects.length != getShowProjects().length" style=""
             class="text-xs">Найдено {{getShowProjects().length}} проектов </label>
      <p-dataViewLayoutOptions class="p-button-sm"></p-dataViewLayoutOptions>
    </div>
  </ng-template>

  <ng-template let-project pTemplate="listItem">

    <div class="cards_list">
      <a href="project/{{project.guid}}" class="card">
        <div class="card_content">
          <hr/>
          <h2 class="card_title">{{project.name}}</h2>
          <p class="card_status green">{{project.order.stage}}</p>
          <p class="card_text">{{project.shortDescription}}</p>
        </div>
        <div *ngIf="project.relevance" class="relevance text-xs">{{project.relevance.toFixed(2)}}</div>
      </a>
    </div>

  </ng-template>
  <ng-template let-project pTemplate="gridItem">

    <div class="cards_item">
      <a href="project/{{project.guid}}" class="card">
        <div class="card_content">
          <hr/>
          <h2 class="card_title">{{project.name}}</h2>
          <p class="card_status green">{{project.order.stage}}</p>
          <p class="card_text">{{project.shortDescription}}</p>
        </div>
        <div *ngIf="project.relevance" class="relevance text-xs">{{project.relevance.toFixed(2)}}</div>
      </a>
    </div>

  </ng-template>
</p-dataView>
