<p-dataView #dv [value]="getShowProjects()" [paginator]="true" [rows]="12" filterBy="name"
            [sortField]="sortField" [sortOrder]="sortOrder" layout="grid">

  <ng-template pTemplate="header">
    <div class="d-flex justify-content-between align-items-end">
      <label style="" class="text-xs">Всего {{projects.length}} компаний </label>
      <p-dataViewLayoutOptions class="p-button-sm"></p-dataViewLayoutOptions>
    </div>
  </ng-template>

  <ng-template let-project pTemplate="listItem">

    <div class="p-col-12">
      <div class="product-list-item">
        <div class="product-list-detail">
          <div class="product-name">{{project.name}}</div>
        </div>
        <div class="product-list-action">
        </div>
      </div>
    </div>

  </ng-template>
  <ng-template let-project pTemplate="gridItem">

    <li class="cards_item">
      <div class="card">
        <div class="card_content">
          <hr/>
          <h2 class="card_title">{{project.name}}</h2>
          <p class="card_status">Статус</p>
          <p class="card_text">{{project.shortDescription}}</p>
        </div>

        <div *ngIf="project.relevance" class="relevance text-xs">{{project.relevance.toFixed(2)}}</div>
      </div>
    </li>

  </ng-template>
</p-dataView>
