@font-face
  font-family: 'test'
  //src: url('assets/fonts/moscowsansregular.ttf') format('truetype')
  src: url('assets/fonts/moscowsansregular.woff') format('woff')
  font-weight: bold

$green: #009A96

*
  font-family: 'test'


body
  font-size: 1rem


.bold
  font-weight: bold

.bolder
  font-weight: bolder

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label
  background-color: #009A96

.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb,
.mat-slider-min-value.mat-slider-thumb-label-showing .mat-slider-thumb-label
  background-color: #009A96

.mat-slider-horizontal .mat-slider-track-background,
.mat-slider-horizontal .mat-slider-track-fill,
.mat-slider-horizontal .mat-slider-track-wrapper
  height: 4px !important

.center
  position: absolute
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)

textarea
  min-height: calc(1.5em + 0.94rem + 2px)

.form-control.is-invalid, .was-validated .form-control:invalid,
.is-invalid
  //background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e")
  //border-color: #ff3d60
  //padding-right: calc(1.5em + 0.94rem)
  //background-repeat: no-repeat
  //background-position: right calc(0.375em + 0.235rem) center
  //background-size: calc(0.75em + 0.47rem) calc(0.75em + 0.47rem)
  color: #ff3d60


hr
  color: $green
  height: 3px !important
  width: 100%
  opacity: 1

.btn-circle
  border-radius: 50%

.label-change-filter
  border: 1px solid $green
  border-radius: 50%
  height: 23px
  width: 23px
  line-height: 23px
  margin: 0 5px
  text-align: center !important
  background: $green
  color: white
