<p-toast></p-toast>


<header id="page-topbar">
  <div class="navbar-header d-flex justify-content-around modal-header py-0">
    <a class="h-100" href="/">
      <!--LOGO-->
      <img src="assets/images/logo.png" class="h-100"/>
    </a>
    <div class="dropdown d-flex h-100">
      <!-- Кнопка "Запрос на инновацию" -->

      <!-- Кнопка "Поиск" -->
      <button class="btn btn-hover-light green" mat-button (click)="openPage('/')">
        <i class="fas fa-search mr-2"></i> <span>Поиск</span>
      </button>
      <div class="d-flex flex-column justify-content-center">

        <button class="btn btn-hover-light green" mat-button (click)="displaySidebar=true">
          <i class="far fa-comment mr-2"></i> <span>Заявка на инновацию</span>
        </button>
      </div>
      <button class="btn btn-hover-light green" mat-button (click)="openPage('/heat-map')">
        <i class="fas fa-map-marker-alt mr-2"></i><span>Карта пилотных проектов</span>
      </button>
      <button class="btn btn-hover-light green" mat-button (click)="onClickPerson()">
        <i class="fas fa-user-alt mr-2"></i><span>Личный кабинет</span>
      </button>
      <!-- Кнопка "Избранное" -->
      <button class="btn btn-hover-light green" mat-button (click)="openPage('/favorites')"><i
        class="far fa-star mr-2"></i><span>Избранное</span>
      </button>

      <!--      &lt;!&ndash; Аккаунт &ndash;&gt;-->
      <!--      <button class="btn btn-hover-light" mat-button [matMenuTriggerFor]="menu"><i class="far fa-user-circle"-->
      <!--                                                                                   style="font-size: 1.5rem"></i>-->
      <!--      </button>-->
      <!--      <mat-menu #menu="matMenu">-->
      <!--        <button mat-menu-item><i class="fas fa-user mr-1"></i> Профиль</button>-->
      <!--        <p-divider></p-divider>-->
      <!--        <button mat-menu-item class="color-red" (click)="logout()"><i class="fas fa-power-off mr-1"></i> Выход</button>-->
      <!--      </mat-menu>-->
    </div>

  </div>
</header>


<p-sidebar *ngIf="displaySidebar" [(visible)]="displaySidebar"
           position="right" [style]="{width:'80%'}">
  <!--  <app-employee [isEdit]="showEditEmployee" [userGuid]="selectedUserGuid"></app-employee>-->
  <app-request-for-innovation></app-request-for-innovation>
</p-sidebar>
